html, body{
    font-family: sans-serif;
    margin: 0;
    height: 100%;
}

#c {
    width: 100%;
    height: 100%;
    display: block;
 }

#ui{
    position: absolute;
    left: 0;
    top: 0;
    color:white
}

#intro{
    display: grid;
    position: absolute;
    place-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: skyblue;
}

#game-over-menu{
    display: none;
    position: absolute;
    place-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: skyblue;
}

